.back-link {
  text-decoration: none;
  color: var(--red-dark);
  text-transform: uppercase;
  font-weight: 600;
}

.container {
  padding: 40px 90px;
  display: flex;
  flex-direction: column;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  column-gap: 40px;
}

.image-container {
  padding: 20px;
  border: 1px solid var(--grey-soft);
}

.product-info > p:first-child{
  color: var(--red-dark);
}

.product-info > p:nth-child(2) {
  font-size: 1.7rem;
  font-weight: lighter;
  margin-top: 10px;
}

.product-info > p:nth-child(3) {
  margin-top: 20px;
}

.product-info > p:nth-child(4) {
  margin-top: 10px;
}

.common {
  color: var(--grey-dark);
  font-size: 0.7rem;
}

.description > p:first-child {
  font-weight: bold;
  text-align: center;
}

.description > p:nth-child(2) {
  font-weight: lighter;
  font-size: 1.2rem;
  margin-top: 20px;
}