.InfiniteList-list {
  height: 65vh;
  width: 100%;
}

.InfiniteList-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-medium);
  cursor: pointer;
}

.item-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-medium);
  text-decoration: none;
  color: black
}

.item-container:hover {
  background-color: var(--grey-light);
}

.item-image {
  width: 60px;
  height: 62px;
  padding: 8px;
  object-position: 50% 100%;
  object-fit: contain;
}

.item-text {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.item-text > p:first-child {
  font-size: 0.8rem;
}

.item-text > p:nth-child(2) {
  font-weight: bold;
}

.item-text > p:nth-child(3) {
  font-size: 0.75rem;
  color: var(--grey-dark);
}
