.outer-container {
	display: flex;
	justify-content: center;
	column-gap: 60px;
	padding-top: 40px;
}

.filters-container {
	padding-top: 55px;
}

.filter-selector {
	padding-bottom: 10px;
}

.filter-selector>h2 {
	font-size: 0.8rem;
}

.filter-item {
	background-color: var(--grey-light);
	border-radius: 14px;
	width: 100%;
	padding: 4px;
	margin: 8px 0;
	text-align: center;
	cursor: pointer;
}

.filter-item:hover {
	background-color: var(--grey-shade);
}

.selected {
	background-color: var(--red-dark);
	color: var(--white);
}

.main-container {
	display: flex;
	column-gap: 40px;
	padding: 40px 0;
	flex-direction: column;
	width: 60%;
}

.title {
	font-weight: normal;
	text-align: center;
}

.main-container em {
	font-style: normal;
	color: var(--red-dark);
}

.search-form {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 30px;
	text-align: center;
	padding: 20px 0;
}

.search-form>label {
	position: absolute;
	top: -120px;
}

.search-form>input {
	outline: none;
	border: 1px solid var(--grey-medium);
	width: 80%;
	padding: 3.5px;
}

.search-form>button {
	margin: 0 4px;
	border: none;
	border-radius: 14px;
	padding: 5px 10px;
	cursor: pointer;
}

.list-container {
	list-style: none;
	padding: 0;
}

.products-container {
	overflow-y: scroll;
	height: 500px;
	scrollbar-width: none;
}

.products-container::-webkit-scrollbar {
	overflow-y: scroll;
	height: 500px;
	scrollbar-width: none;
}