:root {
  --white: #fff;
  --red-dark: #D0011B;
  --dark-blue: #2B333C;
  --grey-light: #F2F2F2;
  --grey-soft: #EEEEEE;
  --grey-dark: rgba(0, 0, 0, 0.6);
  --grey-medium: #EBEFF2;
  --grey-shade: #E3E3E3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  margin-top: 0;
}

p {
  margin: 0;
}
